{% extends "base.html" %}


{% block title %}{{ other_user.username }}'s profile{% endblock %}

{% block page_content %}
    <div id="account_info">
        <h2>Account info</h2>
        <ul>
            <li>
                Username: {{ other_user.username }}
            </li>
            <li>
                Last Login: {{ other_user.last_login|date:"Y/m/d" }}
            </li>
            <li>
                Date Joined: {{ other_user.date_joined|date:"Y/m/d" }}
            </li>
        </ul>
    </div>
    <div id="contributions">
        <h2>Contributions</h2>
        <ul>
            {% for algorithm in algorithms %}
                <li>
                    <a href="/algorithms/{{ algorithm.implements.id }}/{{ algorithm.id }}/">{{ algorithm.implements.title }}</a>, in {{ algorithm.language }}, on {{ algorithm.created|date:"Y/m/d" }}
                </li>
            {% endfor %}
            {% for structure in structures %}
                <li>
                    <a href="/structures/{{ structure.implements.id }}/{{ structure.id }}/">{{ structure.implements.title }}</a>, in {{ structure.language }}, on {{ structure.created|date:"Y/m/d" }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}