{% extends "base.html" %}


{% block title %}{{ structure.title }}{% endblock %}

{% block page_content %}
    <div id="structure_container">
        <div id="structure_block">
            <div id="structure_title">
                <h1>{{ structure.title }}</h1>
            </div>
            <div id="structure_description">
                {{ structure.description }}
            </div>
        </div>
        <div id="implementation_container">
            This data structure has the following implementations:
            <ul>
                {% for impl in implementations %}
                    <li>
                        <span class="impl_block"><a href="{{ impl.id }}/">In {{ impl.language }}</a>, by {{ impl.author }} on {{ impl.created|date:"Y/m/d"}}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}